<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>

    <%- include('partials/_navigation') %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1><%= post.title %></h1>
              <span class="meta">
                Posted on
                <%= post.dateCreated.toLocaleDateString('tr-TR') %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">

          <!-- LEFT: POST CONTENT -->
          <div class="col-lg-8 col-md-10 mx-auto">
            <p><%= post.detail %></p>

            <a href="#">
              <img class="img-fluid" src="/img/post-sample-image.jpg" alt="">
            </a>
            <span class="caption text-muted">
              To go places and do things that have never been done before – that’s what living is all about.
            </span>
          </div>

          <!-- RIGHT: ACTION BOX (UPDATE / DELETE) -->
          <div class="col-lg-4 col-md-10 mx-auto mt-4 mt-lg-0">
            <div class="card">
              <div class="card-body text-center">

                <a href="/posts/edit/<%= post._id %>" class="btn btn-warning btn-block mb-3">
                  Update Post
                </a>

                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger btn-block"
                    onclick="return confirm('ARE YOU SURE?')">
                    Delete Post
                  </button>
                </form>

              </div>
            </div>
          </div>

        </div>
      </div>
    </article>

    <hr>

    <%- include('partials/_footer') %>
  </body>
</html>
